$mainColor: #2b2b2b;
$secondColor: white;
$thirdColor:grey;
$lightGrey:#f0f0f0;
$center:0 auto;
$font: 'Helvetica', 'Arial', sans-serif !important;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body{
  background-image:url('/images/dark_wall.png');
  background-repeat: repeat;
  font-family: $font;
}
.container-fluid{
  padding-left:0px;
    padding-right:0px;
    color:$secondColor;
  .navbar{
    background-color: $mainColor;
    width:100%;
    
    @include box-shadow(0px,2px,50px, #000);
  
    a{
      color:$secondColor;
    }
    .navbar-collapse{
      float:right;
      justify-content: flex-end;
      .navbar-nav{
        float:right;
        
        .nav-item{
          text-align: right;
        }
      }
    }
  }
}


.login-row{
  margin: 0 auto;
  text-align: center;
  
}
.Login{
  background-color:$secondColor;

  margin:$center;
  margin-top:200px;
  padding:40px;
  font-family:$font;
  border-radius:10px;
  @include box-shadow(0px,25px,80px, #000);
  .login-e{
    padding:3px;
    height:40px;
    
    
  }
  h2{
    font-family: $font;
    padding:20px;
    margin:10px;
  }
  label{
    float:left;
    text-align:left;
  }
  input{
    border:none;
    background-color:$lightGrey;
    border-radius:5px;
    padding:5px 5px 5px 10px;
    
    
    
    // border-bottom: 1px solid;
  }
  button{
    background-color:$mainColor;
    color:$secondColor;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    margin:20px 0 10px;
    
    
  }
  a{
    color:$thirdColor;
  }
}

/*Question Portion*/

#question-button{
  border-radius:8px;
  border:none;
  background-color: $secondColor;
  margin: 20px auto;
  padding:10px 20px;
  top:20px;
  font-size:24px;
  font-family: $font;
  color:$mainColor;
  top:20px;
}
#question{
  text-align: center;
  
  font-size:28px;

}
/* Gif Card */

  #gif-box.container{
    margin:10px 10px;
    width:100px;
    height:100px;
    background-color:#000;
    img.media{
      padding-left: 0px !important;
      padding-right:0px !important;
      width:100%;
      height: auto;
      
    }
    
  }




.timer{
  font-size:34px;
  font-weight:bold;
  text-align:center;
  margin-top:20px;
}
/* Search Bar */

#search{
  margin-top:20px;
}
.search-form{
  
        width:85%;
        float:right;
        margin-top:20px;
        input{
         margin-right:10px;
         
        }
        button{
          float:right;

        }

}
#gif-container{
  float:right;
  margin-bottom:10px;
  #gifs {
    margin: 0 auto;
    
  }
  
}

/*Footer Code */
  
    #footer.container{
      height:180px;
      background-color:$thirdColor;
      bottom:0;
      position: absolute;
      width:100%;
      max-width:100%;
    .left-side{
      float:left;
      
    }
    .right-side{
      float:right;
      
    }
    
  }
  
